
.react-calendar__tile {
    height: 60px; /* Ajusta el tamaño según prefieras */
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px; /* Agrega un borde suave como en Google Calendar */
    transition: background-color 0.3s ease; /* Animación suave para fondo */
}

.react-calendar__tile--selected {
    background-color: #08ef60fb; /* Color para la fecha seleccionada */
    color: white; /* Color del texto */
}

.react-calendar__tile--now {
    color: black;
    background-color: #85f78de8; /* Color de fondo para el día actual */
}

.react-calendar__tile:hover {
    background-color: #d3d3d3; /* Efecto hover */
}


.calendar-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 1rem;
    background-color: #f5f5f5;
    text-align: center;
}


.calendar {
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tasks-section {
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}


.tasks-section ul {
    padding: 10px;  
    border-bottom: 1px solid #06fa80;
}



button {
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    gap: 1rem;
}

button:hover {
    background-color: #0056b3;
}

.dot {
    height: 100px; /* Aumenta el tamaño del punto */
    width: 100px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}



.button-container{
    display: flex;
    gap: 1rem;
}

.button-container button{
    font-size: 0.8rem;
}