.dashboard-container {
    padding: 20px;
    background-color: #f9f9f9;
}

.dashboard-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.dashboard-container input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dashboard-container button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard-container button:hover {
    background-color: #218838;
}

.task-list {
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.task-list .completed {
    color: gray;
    background-color: #74f191;
}

.task-list .incompleted {
    color: black;
    background-color: rgb(255, 168, 168);
}

.task-list button {
    margin-left: 10px;
    background-color: #007bff;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height: fit-content;
    text-decoration: none;
}

.task-list button:hover {
    background-color: #0056b3;
}
