/* Dashboard.css */

.dashboard-container {
    padding: 20px;
}


.task-list {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

li.incompleted {
    border-left: 5px solid #ff0000;
}

li.completed {
    border-left: 5px solid #00ff00;
    color: white;
}

li.deleting {
    animation: fade-out 0.8s ease forwards;
    opacity: 0;
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-20px);
    }
}

.task-description {
    display: none;
}

.task-description.opened {
    display: block;
    margin-top: 10px;
}


/* Dashboard.css */

.swipe-message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1em;
    color: #333;
}

.swipe-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background: url('/path-to-your-hand-icon.png') no-repeat center;
    background-size: contain;
    animation: swipeAnimation 1s ease infinite;
}

@keyframes swipeAnimation {
    0% { transform: translateX(0); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}
